node_modules
dist
coverage
.next
out
.turbo
.pnpm-store

.env
.env.*
!.env.example

.terraform
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.DS_Store
.idea
.vscode